.heading {
  @apply text-blue font-display font-medium sm:text-heading 2xl:text-3xl text-center;
}

.modal-heading {
  @apply text-blue font-display font-medium sm:text-heading 2xl:text-xl text-center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#parentdiv {
  position: relative;
  background-color: white;
  /* border-radius: 80px; */
  margin: auto;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-item {
  flex: 0 0 calc(30% - 20px);
  margin-top: 40px;
}

#childishDiv {
  position: relative;
  background-color: white;
  /* border-radius: 80px; */
  margin: 46px;
}
.child_div {
  position: absolute;
  background-color: #d9d9d9;
  border-radius: 100px;
}

.div2 {
  position: absolute;

  background-color: #d9d9d9;
  border-radius: 100px;
}

.bubble-environmental {
  position: absolute;
  background-color: #d9d9d9;
  border-radius: 100px;
}

.bubble-neurological {
  position: absolute;
  background-color: #d9d9d9;
  border-radius: 100px;
}

.bubble-exercise {
  position: absolute;
  background-color: #d9d9d9;
  border-radius: 100px;
}

.bubble-diet {
  position: absolute;
  background-color: #d9d9d9;
  border-radius: 100px;
}

.bubble-sleep {
  position: absolute;
  background-color: #d9d9d9;
  border-radius: 100px;
}

.slider1 .slick-prev {
  top: 100% !important;
  left: 72% !important;
}

.slider1 .slick-next {
  right: 18% !important ;
  top: 100% !important;
}

.slider2 .slick-prev {
  top: 102% !important;
  left: 0 !important;
}

.slider2 .slick-next {
  left: 60px !important ;
  top: 102% !important;
}

.slider4 .slick-prev {
  top: 102% !important;
  left: 0 !important;
}

.slider4 {
  margin-left: auto;
  max-width: 600px;
}

.slider4 .slick-next {
  left: 60px !important ;
  top: 102% !important;
}

.slider4 .slick-prev:before,
.slick-next:before {
  color: transparent !important;
}

.slider3 .slick-prev {
  top: 102% !important;
  left: 42% !important;
}

.slider3 .slick-next {
  left: 47% !important ;
  top: 102% !important;
}

.slider3 .slick-prev:before,
.slick-next:before {
  color: none !important;
}

.slider5 .slick-prev {
  top: 100% !important;
  left: 72% !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.-indent-59 {
  text-indent: 59px;
}

.modal {
  @apply sm:absolute sm:p-0 sm:m-0 sm:top-62 sm:left-0 sm:h-100% !important;
}

.number {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  font-size: 59px;

  /* or 78px */

  /* display: flex;
align-items: center;
text-align: center; */

  /* #93C01F */

  color: #93c01f;
}

.or {
}

.or::before,
.or::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #233670;
  opacity: 0.1;
}
.or::before {
  margin-right: 8px;
}
.or::after {
  margin-left: 8px;
}

.-indent-20 {
  text-indent: 20px;
}

.h-border-bottom {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    160.92deg,
    #a2d126 -8.33%,
    #81b01b 101.53%
  );
}

.w--80 {
  width: 80% !important;
}
.center-abs {
  @apply m-auto absolute top-0 left-0 right-0 bottom-0;
}

.transform-x {
  transform: translate(-50%, 0);
}

.transform-y {
  transform: translate(0, 50%);
}

.transform-xy {
  transform: translate(-50%, 70%);
}

.sub-heading {
  @apply font-display font-medium text-xl;
}

.padding-imp {
  @apply 2xl:p-0 !important;
}

.content {
  @apply text-dark-grey font-display text-base;
}

.footer-label {
  @apply text-base  text-white  font-display;
}

.label {
  @apply text-sm  font-display;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
